In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# Loading DataSet

In [20]:
providers = pd.read_csv(r"D:\FoodWaste\providers_data.csv")
receivers = pd.read_csv(r"D:\FoodWaste\receivers_data.csv")
food_listings = pd.read_csv(r"D:\FoodWaste\food_listings_data.csv")
claims = pd.read_csv(r"D:\FoodWaste\claims_data.csv")

# Checking Null and Duplicates For Providers

In [ ]:
providers.info()
providers.isnull().sum()
providers_duplicate=providers[providers.duplicated('Provider_ID')]
providers.columns = [col.lower() for col in providers.columns]
print(providers_duplicate)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Provider_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   Address      1000 non-null   object
 4   City         1000 non-null   object
 5   Contact      1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB
Empty DataFrame
Columns: [Provider_ID, Name, Type, Address, City, Contact]
Index: []

# Checking Null and Duplicates For Receivers

In [ ]:

receivers.info()
receivers.isnull().sum()
receivers_duplicate = receivers[receivers.duplicated('Receiver_ID')]
receivers.columns = [col.lower() for col in receivers.columns]
print(receivers_duplicate)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Receiver_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   City         1000 non-null   object
 4   Contact      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB
Empty DataFrame
Columns: [Receiver_ID, Name, Type, City, Contact]
Index: []

# Checking Null and Duplicates For FoodListings And changing DataType

In [ ]:
food_listings.isnull().sum()
food_listings_duplicate = food_listings[food_listings.duplicated('Food_ID')]
print(food_listings_duplicate)
print("\nBefore Changing Data Type:")
print(food_listings.info())
food_listings['Expiry_Date']=food_listings['Expiry_Date'].astype('datetime64[s]')
food_listings.columns = [col.lower() for col in food_listings.columns]
print("\nAfter Changing Expiry_Date Data Type:")
print(food_listings.info())

Empty DataFrame
Columns: [Food_ID, Food_Name, Quantity, Expiry_Date, Provider_ID, Provider_Type, Location, Food_Type, Meal_Type]
Index: []

Before Changing Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food_ID        1000 non-null   int64
 1   Food_Name      1000 non-null   object
 2   Quantity       1000 non-null   int64
 3   Expiry_Date    1000 non-null   object
 4   Provider_ID    1000 non-null   int64
 5   Provider_Type  1000 non-null   object
 6   Location       1000 non-null   object
 7   Food_Type      1000 non-null   object
 8   Meal_Type      1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB
None

After Changing Expiry_Date Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   food_id        1000 non-null   int64
 1   food_name      1000 non-null   object
 2   quantity       1000 non-null   int64
 3   expiry_date    1000 non-null   datetime64[s]
 4   provider_id    1000 non-null   int64
 5   provider_type  1000 non-null   object
 6   location       1000 non-null   object
 7   food_type      1000 non-null   object
 8   meal_type      1000 non-null   object
dtypes: datetime64[s](1), int64(3), object(5)
memory usage: 70.4+ KB
None

# Checking Null and Duplicates For Claims and changing DataType

In [ ]:
claims.isnull().sum()
claims_duplicate = claims[claims.duplicated('Claim_ID')]
print(claims_duplicate)
print("\nBefore Changing Timestamp Data Type:")
print(claims.info())
claims['Timestamp'] = claims['Timestamp'].astype('datetime64[s]')
claims.columns = [col.lower() for col in claims.columns]
print("\nAfter Changing Timestamp Data Type:")
print(claims.info())

Empty DataFrame
Columns: [Claim_ID, Food_ID, Receiver_ID, Status, Timestamp]
Index: []

Before Changing Timestamp Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     1000 non-null   int64
 1   Food_ID      1000 non-null   int64
 2   Receiver_ID  1000 non-null   int64
 3   Status       1000 non-null   object
 4   Timestamp    1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB
None

After Changing Timestamp Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   claim_id     1000 non-null   int64
 1   food_id      1000 non-null   int64
 2   receiver_id  1000 non-null   int64
 3   status       1000 non-null   object
 4   timestamp    1000 non-null   datetime64[s]
dtypes: datetime64[s](1), int64(3), object(1)
memory usage: 39.2+ KB
None

# Creating A New DataBase Connection

In [ ]:
conn_postgres = psycopg2.connect(
    host = "localhost",
    database = "postgres",
    user = "postgres",
    password="Haridb"
    )
conn_postgres.autocommit = True

cursor_postgres = conn_postgres.cursor()
print("Postgres Connection Established!")

Postgres Connection Established!

# Creating DataBase

In [ ]:
try:
    cursor_postgres.execute("CREATE DATABASE food_wastage;")
    print("PostgreSQL database 'food_wastage' created successfully!")
except psycopg2.errors.DuplicateDatabase:
    print("Database already exists!")

cursor_postgres.close()
conn_postgres.close()

Database already exists!

# Connecting to a Created FoodWastage Database

In [ ]:
conn_postgres = psycopg2.connect(
    host = "localhost",
    database = "food_wastage",
    user = "postgres",
    password = "Haridb",
)
conn_postgres.autocommit = True

cursor_postgres = conn_postgres.cursor()
print("\033[1mConnected to food_wastage!\033[0m")

Connected to food_wastage!

# Creating Tabels

In [ ]:
conn_postgres = psycopg2.connect(database="food_wastage", user="postgres", password="Haridb", host="localhost", port="5432")
cursor_postgres = conn_postgres.cursor()
conn_postgres.autocommit = True
cursor_postgres.execute("""
CREATE TABLE IF NOT EXISTS providers(
    provider_id INT PRIMARY KEY,
    name VARCHAR(50),
    type VARCHAR(50),
    address VARCHAR(100),
    city VARCHAR(50),
    contact VARCHAR(50)
)
""")
conn_postgres.commit()
print("providers Table Created!")


cursor_postgres.execute("""
CREATE TABLE IF NOT EXISTS receivers(
    receiver_id INT PRIMARY KEY,
    name VARCHAR(50),
    type VARCHAR(50),
    address VARCHAR(100),
    city VARCHAR(30),
    contact VARCHAR(30)
)
""")
conn_postgres.commit()

print("receivers Table Created!")

cursor_postgres.execute("""
CREATE TABLE IF NOT EXISTS food_listings(
    food_id INT PRIMARY KEY,
    food_name VARCHAR(100),
    quantity INT,
    expiry_date DATE,
    provider_id INT,
    provider_type VARCHAR(50),
    location VARCHAR(50),
    food_type VARCHAR(50),
    meal_type VARCHAR(50),
    FOREIGN KEY (provider_id) REFERENCES providers(provider_id)
)
""")
conn_postgres.commit()

print("food_listings Table Created!")

cursor_postgres.execute("""
CREATE TABLE IF NOT EXISTS claims(
    claim_id INT PRIMARY KEY,
    food_id INT,
    receiver_id INT,
    status VARCHAR(50),
    timestamp TIMESTAMP,
    FOREIGN KEY (food_id) REFERENCES food_listings(food_id),
    FOREIGN KEY (receiver_id) REFERENCES receivers(receiver_id)
)
""")
conn_postgres.commit()

print("claims Table Created!")

providers Table Created!
receivers Table Created!
food_listings Table Created!
claims Table Created!

# Creating Engine

In [ ]:
from sqlalchemy import create_engine
# Create SQLAlchemy engine using psycopg2 as the driver
engine = create_engine("postgresql+psycopg2://postgres:Haridb@localhost:5432/food_wastage")

providers.to_sql(name="providers", con=engine, if_exists='append', index=False)
print("providers Data inserted")

receivers.to_sql(name="receivers",con=engine,if_exists='append',index=False)
print("receivers Data inserted")

food_listings.to_sql(name="food_listings", con=engine, if_exists='append', index=False)
print("food_listings Data inserted")

claims.to_sql(name="claims", con=engine, if_exists='append', index=False)
print("claims Data inserted")

providers Data inserted
receivers Data inserted
food_listings Data inserted
claims Data inserted

# ðŸ“ŒHow many food providers and receivers are there in each city?

In [32]:
query = '''
SELECT  "receiver_id", COUNT(*) AS total  -- Note the double quotes
FROM claims
GROUP BY "receiver_id"
ORDER BY total DESC
LIMIT 1;
'''
df = pd.read_sql(query, engine)
display(df.style.hide(axis='index'))

# ðŸ“ŒWhich type of food provider (restaurant, grocery store, etc.) contributes the most food?

In [ ]:

query ='''
SELECT type, COUNT(*) AS type_count
FROM providers
GROUP BY type 
ORDER BY type_count DESC
LIMIT 1;
'''

df = pd.read_sql(query,engine)
display(df.style.hide(axis = 'index'))

# ðŸ“ŒWhat is the contact information of food providers in a specific city?

In [ ]:
query = '''
SELECT name,contact,city
FROM providers
WHERE city = 'Alexanderchester'
'''
df = pd.read_sql(query,engine)
display(df.style.hide(axis = 'index'))

# ðŸ“ŒWhich receivers have claimed the most food?

In [ ]:
query = '''
SELECT  receiver_id, COUNT(*) AS total
FROM claims
GROUP BY receiver_id
ORDER BY total DESC
LIMIT 1;
'''
df = pd.read_sql(query,engine)
display(df.style.hide(axis = 'index'))

# 5.ðŸ“ŒWhat is the total quantity of food available from all providers?

In [ ]:
query = '''
SELECT SUM(quantity) AS total_quantity
FROM food_listings;
'''
df = pd.read_sql(query,engine)
display(df.style.hide(axis = 'index'))

# 6.ðŸ“ŒWhich city has the highest number of food listings?

In [ ]:
query='''
SELECT location, COUNT(*) AS loc_count
FROM food_listings
GROUP BY quantity
ORDER BY loc_count DESC
LIMIT 1;
'''
df = pd.read_sql(query, engine)
display(df.style.hide(axis='index'))

# 7.ðŸ“ŒWhat are the most commonly available food types?

In [ ]:
query = '''
SELECT food_type , COUNT(*) AS total_food_type
FROM food_listings
GROUP BY food_type
ORDER BY total_food_type DESC
LIMIT 1;
'''
df = pd.read_sql(query, engine)
display(df.style.hide(axis='index'))

# 8.ðŸ“Œ How many food claims have been made for each food item?

In [ ]:
query ='''
SELECT food_id, COUNT(*) AS food_count
FROM claims
GROUP BY food_id
ORDER BY food_count DESC;


'''
df = pd.read_sql(query, engine)
display(df.head().style.hide(axis='index'))

# 9.ðŸ“Œ Which provider has had the highest number of successful food claims?

In [ ]:
query = '''
SELECT f.provider_id, COUNT(*) AS successful_claims
FROM claims c
JOIN food_listings f ON c.food_id = f.food_id
WHERE c.status = 'Completed'
GROUP BY f.provider_id
ORDER BY successful_claims DESC
LIMIT 1;
'''
df = pd.read_sql(query, engine)
display(df.style.hide(axis='index'))

# 10.ðŸ“Œ What percentage of food claims are completed vs. pending vs. canceled?

In [ ]:
query = ''' SELECT 
    status,
    COUNT(*) AS total_claims,
    ROUND(
        (COUNT(*) * 100.0) / 
        (SELECT COUNT(*) FROM claims), 2
    ) AS percentage
FROM claims
GROUP BY status
ORDER BY percentage DESC;
'''
df = pd.read_sql(query, engine)
display(df.style.hide(axis='index'))

# ðŸ“Œ11. What is the average quantity of food claimed per receiver?

In [ ]:
query = '''
SELECT c.receiver_id, AVG(f.quantity) AS avg_quantity
FROM claims c
JOIN food_listings f ON f.food_id = c.food_id
WHERE c.status = 'Completed'
GROUP BY c.receiver_id;
'''
df = pd.read_sql(query, engine)
display(df.head().style.hide(axis='index'))

# ðŸ“Œ12. Which meal type (breakfast, lunch, dinner, snacks) is claimed the most?

In [ ]:
query = query = '''
SELECT f.meal_type, COUNT(*) AS status_count
FROM claims c
JOIN food_listings f ON f.food_id = c.food_id
WHERE c.status = 'Completed'
GROUP BY f.meal_type
ORDER BY status_count DESC
LIMIT 1;
'''

df = pd.read_sql(query, engine)
display(df.head().style.hide(axis='index'))


# ðŸ“Œ.13What is the total quantity of food donated by each provider?

In [ ]:
query = '''
SELECT 
    f.provider_id, 
    p.name AS provider_name, 
    SUM(f.quantity) AS total_quantity
FROM food_listings f
JOIN providers p ON f.provider_id = p.provider_id
GROUP BY f.provider_id, p.name
ORDER BY total_quantity DESC;
'''
df = pd.read_sql(query, engine)
display(df.head().style.hide(axis='index'))